:root {
    --bacground-color-quicker: hsl(31, 66%, 93%);
    --background-color-star-followers: hsl(256, 67%, 59%);
    --background-color-media: hsl(254, 88%, 90%);
    --background-color-amarelo: hsl(39, 100%, 71%);
    --background-color-branco: hsl(0, 0%, 100%);
}